body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h1,
h2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

p {
  color: hsl(229, 6%, 66%);
}

.cards-container {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: auto;
}

@media (min-width: 788px) {
  .cards-container {
    width: 728px;
  }
  .cards-container::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (min-width: 1166px) {
  .cards-container {
    width: 1106px;
  }
}

[class$="feature-card"] {
  position: relative;
  box-sizing: border-box;
  width: 350px;
  height: 250px;
  margin: 0;
  padding: 32px;
  border-radius: 10px;
  border-top: solid 5px black;
  box-shadow: 2px 5px 20px rgb(0, 0, 0, 0.1);
}

[class$="feature-card"] h2,
[class$="feature-card"] p {
  margin: 0;
}

[class$="feature-card"] img {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

[class$="feature-card"][class*="cyan"] {
  border-color: hsl(180, 62%, 55%);
}

[class$="feature-card"][class*="red"] {
  border-color: hsl(0, 78%, 62%);
}

[class$="feature-card"][class*="orange"] {
  border-color: hsl(34, 97%, 64%);
}

[class$="feature-card"][class*="blue"] {
  border-color: hsl(212, 86%, 64%);
}

@media (min-width: 788px) {
  [class$="feature-card"] {
    float: left;
  }

  @media (min-width: 1166px) {
    [class$="feature-card"]:first-child {
      margin: 140px 0;
    }

    [class$="feature-card"]:nth-child(2),
    [class$="feature-card"]:nth-child(3) {
      margin: 0 22px;
    }

    [class$="feature-card"]:last-child {
      margin-top: -110px;
    }

    [class$="feature-card"]:nth-child(3) {
      margin-top: 30px;
    }
  }

  @media (max-width: 1165px) {
    [class$="feature-card"]:nth-child(3),
    [class$="feature-card"]:nth-child(4) {
      margin-top: 30px;
    }

    [class$="feature-card"]:nth-child(2),
    [class$="feature-card"]:nth-child(4) {
      margin-left: 28px;
    }
  }
}

@media (max-width: 787px) {
  [class$="feature-card"] {
    width: 300px;
    height: 220px;
    margin: auto;
  }

  [class$="feature-card"]:not(:first-child) {
    margin-top: 22px;
  }
}
